@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  -o-transition-duration: 1s;
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101da6 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

section[id] {
  scroll-margin-top: 106px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #01002e;
  overflow: hidden;
}

.background span {
  width: 43vmin;
  height: 43vmin;
  border-radius: 43vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 47;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #01004d;
  top: 4%;
  left: 70%;
  animation-duration: 15s;
  animation-delay: -4s;
  transform-origin: 11vw 3vh;
  box-shadow: -86vmin 0 10.858017937792237vmin currentColor;
}
.background span:nth-child(1) {
  color: #01004d;
  top: 14%;
  left: 71%;
  animation-duration: 29s;
  animation-delay: -26s;
  transform-origin: 14vw 21vh;
  box-shadow: -86vmin 0 10.945604219186281vmin currentColor;
}
.background span:nth-child(2) {
  color: #01004d;
  top: 85%;
  left: 68%;
  animation-duration: 31s;
  animation-delay: -29s;
  transform-origin: 9vw -20vh;
  box-shadow: 86vmin 0 11.199429129129948vmin currentColor;
}
.background span:nth-child(3) {
  color: #01004d;
  top: 42%;
  left: 93%;
  animation-duration: 30s;
  animation-delay: -24s;
  transform-origin: -14vw -7vh;
  box-shadow: 86vmin 0 10.869732314471557vmin currentColor;
}
.background span:nth-child(4) {
  color: #01004d;
  top: 89%;
  left: 18%;
  animation-duration: 29s;
  animation-delay: -25s;
  transform-origin: 3vw -13vh;
  box-shadow: -86vmin 0 10.996237103874524vmin currentColor;
}
.background span:nth-child(5) {
  color: #04003d;
  top: 35%;
  left: 83%;
  animation-duration: 29s;
  animation-delay: -25s;
  transform-origin: -6vw -9vh;
  box-shadow: 86vmin 0 10.925069241148885vmin currentColor;
}
.background span:nth-child(6) {
  color: #00034d;
  top: 59%;
  left: 96%;
  animation-duration: 33s;
  animation-delay: -15s;
  transform-origin: -8vw -24vh;
  box-shadow: -86vmin 0 11.510143827187536vmin currentColor;
}
.background span:nth-child(7) {
  color: #04003d;
  top: 98%;
  left: 14%;
  animation-duration: 14s;
  animation-delay: -8s;
  transform-origin: -4vw 0vh;
  box-shadow: -86vmin 0 11.275850840672993vmin currentColor;
}
.background span:nth-child(8) {
  color: #04003d;
  top: 20%;
  left: 80%;
  animation-duration: 31s;
  animation-delay: -12s;
  transform-origin: -19vw -15vh;
  box-shadow: -86vmin 0 10.857677006284158vmin currentColor;
}
.background span:nth-child(9) {
  color: #04003d;
  top: 4%;
  left: 43%;
  animation-duration: 19s;
  animation-delay: -21s;
  transform-origin: 18vw -1vh;
  box-shadow: 86vmin 0 11.596954759307668vmin currentColor;
}
.background span:nth-child(10) {
  color: #04003d;
  top: 59%;
  left: 76%;
  animation-duration: 15s;
  animation-delay: -15s;
  transform-origin: -18vw 6vh;
  box-shadow: -86vmin 0 11.515908655756506vmin currentColor;
}
.background span:nth-child(11) {
  color: #00034d;
  top: 65%;
  left: 32%;
  animation-duration: 13s;
  animation-delay: -29s;
  transform-origin: -7vw -18vh;
  box-shadow: 86vmin 0 11.726396621102692vmin currentColor;
}
.background span:nth-child(12) {
  color: #01004d;
  top: 46%;
  left: 41%;
  animation-duration: 15s;
  animation-delay: -17s;
  transform-origin: -24vw 17vh;
  box-shadow: -86vmin 0 11.24512608987969vmin currentColor;
}
.background span:nth-child(13) {
  color: #01004d;
  top: 83%;
  left: 95%;
  animation-duration: 21s;
  animation-delay: -27s;
  transform-origin: 10vw 12vh;
  box-shadow: -86vmin 0 11.357895557086186vmin currentColor;
}
.background span:nth-child(14) {
  color: #01004d;
  top: 60%;
  left: 100%;
  animation-duration: 27s;
  animation-delay: -2s;
  transform-origin: -24vw 24vh;
  box-shadow: 86vmin 0 11.2324006027223vmin currentColor;
}
.background span:nth-child(15) {
  color: #04003d;
  top: 98%;
  left: 34%;
  animation-duration: 11s;
  animation-delay: -16s;
  transform-origin: 24vw 25vh;
  box-shadow: 86vmin 0 11.146261975773706vmin currentColor;
}
.background span:nth-child(16) {
  color: #04003d;
  top: 19%;
  left: 14%;
  animation-duration: 31s;
  animation-delay: -7s;
  transform-origin: -24vw -10vh;
  box-shadow: 86vmin 0 11.5687808511115vmin currentColor;
}
.background span:nth-child(17) {
  color: #00034d;
  top: 83%;
  left: 94%;
  animation-duration: 7s;
  animation-delay: -6s;
  transform-origin: -3vw 17vh;
  box-shadow: 86vmin 0 11.511575993957313vmin currentColor;
}
.background span:nth-child(18) {
  color: #00034d;
  top: 74%;
  left: 86%;
  animation-duration: 28s;
  animation-delay: -1s;
  transform-origin: 14vw -8vh;
  box-shadow: -86vmin 0 10.798249435958024vmin currentColor;
}
.background span:nth-child(19) {
  color: #01004d;
  top: 48%;
  left: 46%;
  animation-duration: 15s;
  animation-delay: -29s;
  transform-origin: -11vw 6vh;
  box-shadow: -86vmin 0 11.391386089484392vmin currentColor;
}
.background span:nth-child(20) {
  color: #00034d;
  top: 69%;
  left: 96%;
  animation-duration: 9s;
  animation-delay: -30s;
  transform-origin: 22vw -20vh;
  box-shadow: 86vmin 0 10.904505592817568vmin currentColor;
}
.background span:nth-child(21) {
  color: #00034d;
  top: 32%;
  left: 34%;
  animation-duration: 6s;
  animation-delay: -20s;
  transform-origin: -19vw -8vh;
  box-shadow: 86vmin 0 11.362129311698617vmin currentColor;
}
.background span:nth-child(22) {
  color: #04003d;
  top: 72%;
  left: 1%;
  animation-duration: 20s;
  animation-delay: -7s;
  transform-origin: -9vw -2vh;
  box-shadow: -86vmin 0 11.03599434697564vmin currentColor;
}

.effect-container {
  position: relative;
  overflow: hidden;

  --effect-name: ripple;
  --effect-duration: 1000ms;
  --effect-top: 0px;
  --effect-left: 0px;
  --effect-height: 100px;
  --effect-width: 100px;
  --effect-color: white;
}

.effect-container::before {
  content: '';
  position: absolute;
  opacity: 0.3;

  top: var(--effect-top);
  left: var(--effect-left);
  height: var(--effect-height);
  width: var(--effect-width);
  border-radius: 50px;
  transform: scale(0);
  background: var(--effect-color);
}

.effect-container.active::before {
  border-radius: 50%;
  animation: ripple var(--effect-duration) linear forwards normal;
}

@keyframes ripple {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(6);
    opacity: 0;
  }
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fadede 0.89%,
    #e99d9d 17.23%,
    #ec7272 42.04%,
    #e04848 55.12%,
    #d62424 71.54%,
    #ec0000 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient1:hover {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fadede 0.89%,
    #e99d9d 17.23%,
    #ec7272 42.04%,
    #e04848 55.12%,
    #d62424 71.54%,
    #ec0000 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  transition-duration: var(-o-transition-duration);
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
  
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(
    180deg,
    rgba(116, 70, 255, 0.247) 0%,
    #52acff62 100%
  );
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.5);
  filter: blur(750px);
}

.whatsapp-ico{
  fill: white;
  width: 58px;
  height: 58px;
  padding: 5px;
  background-color: #4dc247;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
  /* box-shadow: 2px 2px 11px rgba(0,0,0,0.7); */
  position: fixed;
  bottom: 20px;
  right : 20px;
  z-index: 100;
}

.whatsapp-ico:hover{
  background-color: white;
  fill: #4dc247;
  box-shadow: 2px 2px 11px rgba(0,0,0,0.7);
}
